<% provide(:title, 'About') %>
<%= image_tag('ncvocals.gif', class: "banner") %>
<h1>About NC Vocals</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum urna id lacus gravida, vitae viverra purus fringilla. Proin eget adipiscing ipsum, id mattis felis. Duis eget pellentesque ipsum, eu euismod massa. Integer sit amet molestie quam, a rutrum odio. Praesent malesuada diam sapien, eu facilisis est dictum at. Pellentesque dolor felis, euismod at faucibus vel, pharetra et sapien. Maecenas auctor magna a pretium sollicitudin. In hac habitasse platea dictumst.</p>

<p>Donec ac neque massa. Proin faucibus tellus sollicitudin, malesuada eros eu, suscipit ipsum. Nulla quis imperdiet neque, aliquam auctor orci. Nullam pulvinar turpis et elit aliquet, sed bibendum tortor malesuada. Integer vel varius orci. Vestibulum vel ipsum sit amet massa accumsan gravida in vel ipsum. Sed congue, ligula quis tincidunt volutpat, diam ligula congue velit, eget placerat est justo in orci.</p>

<%= link_to "Return Home", root_path %>