<% provide(:title, 'About') %>
<%= image_tag('ncvocals.gif', class: "banner") %>
<h1>About NC Vocals</h1>
<p>This site is currently under construction.  At this time you can click on "Groups" in the upper right hand corner to view, add, edit and delete groups from the directory.  Eventually users will be able to sign up and add their own group, view other groups but not make any changes to content that they did not create.</p>

<p>Because of the site that this is hosted on, the images may disappear after awhile.  We would fix this before going live but at this point you can just re-upload the logo if you would like.</p>

<p>Upcoming enhancements:  "Featured Group" on the homepage.  Every week/month? a group's profile will be posted on the main page (maybe a shortened profile, or embedded youtube video).</p>
<p>User sign up and log in.  Groups will be connected to users for editing.  Admin access roles will also be able to make changes to any group.</p>

<%= link_to "Return Home", root_path %>