<%= image_tag('ncvocals.gif', class: "banner") %>
<div class="hero-unit">
	<h1>Welcome!</h1>
	<p>This is the NC Vocal Directory, a listing of Contemporary A Cappella groups in the central North Carolina region.
	 Click on the links below to learn more about the site or to view the current groups!
	</p>
	<%= link_to "View Groups", groups_path, class: "btn btn-primary btn large" %>
	<%= link_to "Learn More", about_path, class: "btn btn-primary btn large" %>
</div>